body {
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    height: 44px;
    width: 100%;
    background-color: #999;
    z-index: 4;
}

.size-nav {
    position: absolute;
    width: 100%;
    background-color: #666;
    height: 100vh;
    z-index: 3;
    padding-top: 44px;
}

.size-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.size-nav ul li {
    padding: 20px 10px;
    border-bottom: 1px solid #333;
}

.size-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.size-nav ul li a i {
    color: #333;
}

.main-content {
    padding-top: 44px;
}

.size-nav li:hover {
    background: orangered;
}

@media screen and (min-width: 600px) {
    .size-nav {
        width: 80px;
    }
    .size-nav ul li {
        text-align: center;
    }
    .size-nav ul li span:nth-child(2) {
        display: none;
    }
    .size-nav ul li i {
        font-size: 26px;
    }
    .main-content {
        margin-left: 80px;
    }
}

@media screen and (min-width:1000px) {
    .size-nav {
        width: 200px;
    }
    .size-nav ul li {
        text-align: left;
    }
    .size-nav ul li span:nth-child(2) {
        display: inline;
    }
    .size-nav ul li i {
        font-size: 16px;
    }
    .main-content {
        margin-left: 200px;
    }
}